{% extends "index.html" %}

{% block title %}Pedido{% endblock %}

{% block content %}



<div class="main-panel">
    <div class="content-wrapper">

        <form class="form-sample" action="{{ url_for('pedido.addPed') }}" method="post" name="ped">
            <div class="row">

                <div class="col-10 grid-margin">
                    <div class="card">
                        <div class="card-body">
                            <h2>Pedido</h2>
                            <hr />

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group row">
                                        <div class="col-sm-6">
                                            <label>Número do pedido</label>
                                            {% if Titulo == 'Editar' %}
                                            <input type="text" class="form-control" readonly
                                                placeholder="Número do pedido" id="id_pedidos" name="id_pedidos"
                                                value="{{ ped.id_pedidos }}" />
                                            {% else %}
                                            <input type="text" class="form-control" readonly
                                                placeholder="Número do pedido" id="id_pedidos" name="id_pedidos" />
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            <ul class=flashes>
                                {% for message in messages %}
                                <li>{{ message }}</li>
                                {% endfor %}
                            </ul>
                            {% endif %}
                            {% endwith %}
                            <div class="row">
                                <div class="col-md-10">
                                    <div class="form-group row">
                                        <div class="col-sm-10">
                                            <label>Observação</label>
                                            {% if Titulo == 'Editar' %}
                                            <input type="text" class="form-control" placeholder="Observação"
                                                name="observacao" id="observacao" value="{{ ped.observacao }}" />
                                                {% else %}
                                                <input type="text" class="form-control" placeholder="Observação"
                                                name="observacao" id="observacao" />
                                                {% endif %}
                                        </div>
                                    </div>
                                </div>

                            </div> <button type="submit" class="btn btn-primary mr-2" name="salvaNovoPedido"
                                id="salvaNovoPedido">Salvar </button>
                            <button class="btn btn-light">Cancelar</button>

                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                data-target="#exampleModal" data-whatever="@mdo">Adicionar Produto ao Pedido</button>




                            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
                                aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Produtos</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <div class="modal-body">
                                            <form action="{{ url_for('pedido.cad') }}" enctype="multipart/form-data"
                                                method="post">
                                                <div class="form-group">
                                                    <label for="recipient-name" class="col-form-label">Produto:</label>
                                                    {% if result %}

                                                    <select class="form-control form-control-sm" id="descricao"
                                                        value="prod.descricao" name="descricao">
                                                        <option value="">Selecionar</option>
                                                        {% for row in result %}
                                                        <option value="{{ row[0] }}">{{ row[1] }}</option>
                                                        {% endfor %}
                                                    </select>

                                                    {% endif %}
                                                    <img class="prod" id="prod_img">

                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Quantidade:</label>
                                                    <input type="number" class="form-control" id="quantidade"
                                                        name="quantidade" value="1">
                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Valor:</label>
                                                    <input type="text" class="form-control" readonly id="valor"
                                                        name="valor">
                                                    <input type="hidden" class="form-control" readonly id="p_valor"
                                                        name="p_valor">

                                                </div>
                                                <div class="form-group">
                                                    <label for="message-text" class="col-form-label">Observação:</label>
                                                    <input type="text" class="form-control" id="observacaoProd"
                                                        name="observacaoProd">
                                                </div>
                                            </form>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" id="salvarTabela"
                                                name="salvarTabela">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </div>
        </form>
        <form>
            <div class="col-md-12 grid-margin">
                <div class="card">
                    <div class="card-body">
                        <h4>Pedido</h4>

                        <div class="card mb-3">
                            <div class="card-header">
                                <i class="fas fa-table"></i>
                                Pedido</div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table {{ 'none' if not produtos or produtos=='None' else '' }}"
                                        id="p-has">
                                        <thead>
                                            <tr>
                                                <th>Imagem</th>
                                                <th>Código</th>
                                                <th>Descrição</th>
                                                <th>Valor</th>
                                                <th>Quantidade</th>
                                                <th>Total</th>
                                                <th>Observação</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                        </thead>
                                        {% if Titulo == 'Editar' %}
                                        <tbody id="p-body">
                                            {% for p in produtos %}
                                            <tr>
                                                <td>
                                                   <img src="{{ p[7] }}" alt="">
                                                </td>
                                                <td class="row-id">{{ p[4] }}</td>
                                                <td>{{ p[5] }}</td>
                                                <td class="row-value">{{ p[6] }}</td>
                                                <td>
                                                    <input type="number" class="form-control edit-qtd-field qtd-field"
                                                        value="{{ p[0] }}">
                                                </td>
                                                <td class="row-total">{{ p[] }}</td>
                                                <td>
                                                    <input type="text" class="form-control obs-field"
                                                        value="{{ p[2] }}">
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary p-edit"><i
                                                            class="fa fa-edit"></i>Editar</button>
                                                    <button type="button" class="btn btn-danger p-delete"><i
                                                            class="fa fa-trash-o"></i>Deletar</button>
                                                            
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                        {% else %}

                                        <tbody id="p-body">
                                                {% for p in produtos %}
                                                <tr>
                                                    <td>
                                                        <a href="data:image/png;base64,{{ images[(loop.index-1)] }}"
                                                            data-lightbox="{{ p[1] }}" data-title="{{ p[5] }}">
                                                            <img src="data:image/png;base64,{{ images[(loop.index-1)] }}">
                                                        </a>
                                                    </td>
                                                    <td class="row-id">{{ p[1] }}</td>
                                                    <td>{{ p[5] }}</td>
                                                    <td class="row-value">{{ p[6] }}</td>
                                                    <td>
                                                        <input type="number" class="form-control edit-qtd-field qtd-field"
                                                            value="{{ p[2] }}">
                                                    </td>
                                                    <td class="row-total">{{ p[3] }}</td>
                                                    <td>
                                                        <input type="text" class="form-control obs-field"
                                                            value="{{ p[4] }}">
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary p-edit"><i
                                                                class="fa fa-edit"></i>Editar</button>
                                                        <button type="button" class="btn btn-danger p-delete"><i
                                                                class="fa fa-trash-o"></i>Deletar</button>
                                                      

                                                    </td>
                                                </tr>

                                                {% endfor %}
                                            </tbody>
                                                {% endif %}

                                    </table>
                                   
                                </div>
                            </div>

                        </div>



                        <a href="{{ url_for('pedido.report',  id=ped.id_pedidos) }}" class="btn btn-success btn-sm">Gerar Relatorio</a>
                       

                        
                    </div>
                </div>
            </div>





        </form>


    </div>

</div>


{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='public/pedidos.js') }}"></script>
{% endblock script %}