{% extends "index.html" %}



{% block content %}
<div id="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Pedidos</a>
      </li>
      <li class="breadcrumb-item active">Overview</li>
    </ol>





    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID_Pedido</th>
                <th>Cliente</th>
                <th>Observação</th>
                <th>Data do Pedido</th>

              </tr>
            </thead>
            <tbody>
              {% if result %}
              {% for row in result %}
              <tr>
                <td> {{ row[0] }}</td>
                <td> {{ session.get('nome') }}</td>
                <td> {{ row[2] }}</td>
                <td> {{ row[1] }} </td>
                <td>

                  <a href="{{ url_for('pedido.editId', id=row[0]) }}" class="btn btn-success btn-sm">Editar</a>
                </td>
                <td>
                  <form action="{{ url_for('pedido.edit', id=row[0]) }}" method="post">
                    
                    <button type="submit" class="btn btn-danger" id="excluiPedidoDB" name="excluiPedidoDB"><i
                        class="fa fa-trash-o"></i>Deletar</button>

                  </form>
                </td>
                
              </tr>

              {% endfor %}
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © Your Website 2019</span>
      </div>
    </div>
  </footer>

</div>
<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>
{% endblock %}