{% extends "index.html" %}



{% block content %}

<div class="container">
  <div class="banner_content d-md-flex justify-content-between align-items-center">
    <div class="mb-3 mb-md-0">
      {{ titulo }}
    </div>
    <div class="page_link">
      <a href="{{ url_for('home.inicial') }}">Home</a>
      <strong>{{ titulo }}</strong>
    </div>
  </div>

  {# Diferenciando se é edição ou cadastro, reaproveitando a mesma tela #}
  {% if(titulo == 'Cadastrar'): %}
  <form action="{{ url_for('cliente.addUser') }}" method="post">

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="id_usuario">Id_Cliente:</label>
        <input type="text" class="form-control col-md-12" value="" name="id_clientes" id="id_clientes"
          readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="telefone">Telefone: </label>
        <input type="text" class="form-control col-md-12" value name="telefone" id="telefone">
      </div>
      <div class="form-group col-md-6">
        <label for="nome">Nome: </label>
        <input type="text" class="form-control col-md-12" value="" name="nome" id="nome">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="inputEmail4" value="" name="email" id="email" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="login">Login:</label>
        <input type="login" class="form-control" value="" name="login" id="login" placeholder="Login" >
      </div>
      <div class="form-group col-md-6">
        <label for="senha">Senha</label>
        <input type="senha  " class="form-control" value="" name="senha" id="senha" placeholder="Senha">
      </div>
      <div class="form-group col-md-6">
        <label for="grupo">Grupo</label>
        <select class="form-control col-md-8" value="" name="grupo" id="grupo" placeholder="Grupo">
            <option selected>Escolher...</option>
            <option>Administrador</option>
            <option>Usuario Comum</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="endereco">Endereço</label>
        <input type="text" class="form-control" value="" name="endereco" id="endereco" placeholder="Endereço">
      </div>
      <div class="form-group col-md-6">
        <label for="numero">Número</label>
        <input type="text" class="form-control" value="" name="numero" id="numero" placeholder="Numero">
      </div>
    </div>
    <div class="form-group">
      <label for="observacoes">Observações</label>
      <input type="text" class="form-control col-md-12" value="" name="observacao" id="observacao"
        placeholder="Escreva alguma coisa otario">

    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control col-md-12" value="" name="bairro" id="bairro">
      </div>
      <div class="form-group col-md-2">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control col-md-12" value="" name="cidade" id="cidade">
      </div>
      <div class="form-group col-md-2">
        <label for="estado">Estado</label>
        <select class="form-control col-md-8" name="estado" id="estado">
          <option selected>Escolher...</option>
          <option>Santa Catarina</option>
          <option>Rio Grande do Sul</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="cep">CEP :</label>
        <input type="text" class="form-control col-md-" value="" name="cep" id="cep">
      </div>
    </div>
    <div class="form-group">

    </div>
    <button type="submit" class="btn btn-primary mr-2" name="salvaNovoClienteBD" id="salvaNovoClienteBD">Enviar</button>
    <button class="btn btn-light">Cancelar</button>
  </form>


  <!--Edição de Usuarios-->
  {% elif(titulo == 'Editar'): %}

  <form action="{{ url_for('cliente.edit') }}" method="post">

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="id_usuario">Id_Cliente:</label>
        <input type="text" class="form-control col-md-12" value="{{ user.id_clientes }}" 
          name="id_clientes" id="id_clientes" readonly>
      </div>
      <div class="form-group col-md-2">
        <label for="telefone">Telefone: </label>
        <input type="text" class="form-control col-md-12" value="{{ user.telefone }}" name="telefone" id="telefone">
      </div>
      <div class="form-group col-md-6">
        <label for="nome">Nome: </label>
        <input type="text" class="form-control col-md-12" value="{{ user.nome }}" name="nome" id="nome">
      </div>

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">Email</label>
        <input type="email" class="form-control" id="inputEmail4" value="{{ user.email }}" name="email" id="email"
          placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <label for="login">Login:</label>
        <input type="login" class="form-control" value="{{ user.login }}" name="login" id="login" placeholder="Login">
      </div>
      <div class="form-group col-md-6">
        <label for="senha">Senha</label>
        <input type="senha  " class="form-control" value="{{ user.senha }}"  name="senha" id="senha" placeholder="Senha">
      </div>
      <div class="form-group col-md-6">
        <label for="grupo">Grupo</label>
        <select class="form-control col-md-8" value="{{ user.grupo }}"  name="grupo" id="grupo" placeholder="Grupo">
            <option selected>Escolher...</option>
            <option>Administrador</option>
            <option>Usuario Comum</option>
          </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="endereco">Endereço</label>
        <input type="text" class="form-control" value="{{ user.endereco }}"  name="endereco" id="endereco"
          placeholder="Endereço">
      </div>
      <div class="form-group col-md-6">
        <label for="numero">Número</label>
        <input type="text" class="form-control" value="{{ user.numero }}"  name="numero" id="numero"
          placeholder="Numero">
      </div>
    </div>
    <div class="form-group">
      <label for="observacoes">Observações</label>
      <input type="text" class="form-control col-md-12" value="{{ user.observacao }}"  name="observacao" id="observacao"
        placeholder="Escreva alguma coisa otario">

    </div>

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="bairro">Bairro</label>
        <input type="text" class="form-control col-md-12" value="{{ user.bairro }}"  name="bairro" id="bairro">
      </div>
      <div class="form-group col-md-2">
        <label for="cidade">Cidade</label>
        <input type="text" class="form-control col-md-12" value="{{ user.cidade }}"  name="cidade" id="cidade">
      </div>
      <div class="form-group col-md-2">
        <label for="estado">Estado</label>
        <select class="form-control col-md-8" value="{{ user.estado }}"  name="estado" id="estado">
          <option selected>Escolher...</option>
          <option>Santa Catarina</option>
          <option>Rio Grande do Sul</option>
        </select>
      </div>
      <div class="form-group col-md-2">
        <label for="cep">CEP :</label>
        <input type="text" class="form-control col-md-" value="{{ user.cep }}" name="cep" id="cep">
      </div>
    </div>
    <div class="form-group">

    </div>
    <button type="submit" class="btn btn-primary mr-2" name="salvaEditaClienteDB"
      id="salvaEditaClienteDB">Enviar</button>
    <button class="btn btn-light" name="excluiClienteDB" id="excluiClienteDB">Deletar</button>
  </form>



</div>
{% endif %}

{% endblock %}