{% extends "index.html" %}



{% block content %}
<div id="content-wrapper">

  <div class="container-fluid">

    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Clientes</a>
      </li>
      <li class="breadcrumb-item active">Overview</li>
    </ol>





    <!-- DataTables Example -->
    <div class="card mb-3">
      <div class="card-header">
        <i class="fas fa-table"></i>
        Data Table Example</div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID_Cliente</th>
                <th>Nome</th>
                <th>Endereco</th>
                <th>Numero</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Grupo</th>

              </tr>
            </thead>

            <tbody>
              {% if result %}
              {% for row in result %}
              <tr>
                <td> {{ row[0] }}</td>
                <td> {{ row[1] }}</td>
                <td> {{ row[2] }}</td>
                <td> {{ row[3] }}</td>
                <td> {{ row[6] }}</td>
                <td> {{ row[7] }}</td>
                <td> {{ row[8] }}</td>
                <td> {{ row[13] }}</td>
                <td>
                  <form action="{{ url_for('cliente.editId') }}" method='post' name='formClientes'>
                    <input type='hidden' name='id_clientes' value='{{ row[0] }}'>
                    <button type='submit' name='formClientes'>Editar</button>
                  </form>
                </td>
              </tr>
              {% endfor %}
              {% endif %}


            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
  <!-- /.container-fluid -->

  <!-- Sticky Footer -->
  <footer class="sticky-footer">
    <div class="container my-auto">
      <div class="copyright text-center my-auto">
        <span>Copyright © Your Website 2019</span>
      </div>
    </div>
  </footer>

</div>
<!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Logout Modal-->


{% endblock %}