{% extends "index.html" %}

{% block title %}Produto{% endblock %}

{% block content %}
<div class="container">
  <div class="banner_content d-md-flex justify-content-between align-items-center">
    <div class="mb-3 mb-md-0">
      {{ titulo }}
    </div>
    <div class="page_link">
      <a href="{{ url_for('home.inicial') }}">Home</a>
      <strong>{{ titulo }}</strong>
    </div>
  </div>

  {# Diferenciando se é edição ou cadastro, reaproveitando a mesma tela #}
  {% if(titulo == 'Cadastrar'): %}

  <form name="prod" action="{{ url_for('produto.addProd') }}" enctype="multipart/form-data" method="post">

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputCity">ID_Produto:</label>
        <input type="text" class="form-control col-md-12" value="" name="id_produtos" id="id_produtos" readonly>
      </div>

    </div>
    <div class="form-group">
      <label for="inputAddress">Descrição do Produto</label>
      <input type="text" class="form-control col-md-12" name="descricao" id="descricao" placeholder="Descrição">

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Valor</label>
        <input type="text" class="form-control col-md-6" name="valor" id="valor" placeholder="Valor">
      </div>

    </div>
    <div class="form-group">
      <label>Upload da Imagem</label>

      <div class="input-group col-sm-3">

        <label for="imagem">Imagem:</label>
        <input type="file" name="imagem" accept="image/*" id="imagem">
      </div>
    </div>



    <div class="form-group">

    </div>
    <button type="submit" class="btn btn-primary mr-2" name="salvaNovoProdutoBD" id="salvaNovoProdutoBD">Enviar</button>
    <button class="btn btn-light">Cancelar</button>
  </form>


  <!--Edição de Produtos-->
  {% elif(titulo == 'Editar'): %}

  <form name="prod" action="{{ url_for('produto.edit') }}" method="post" enctype="multipart/form-data">

    <div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputCity">ID_Produto:</label>
        <input type="text" class="form-control col-md-12" value="{{ prod.id_produtos }}" name="id_produtos"
          id="id_produtos" readonly>
      </div>

    </div>
    <div class="form-group">
      <label for="inputAddress">Descrição do Produto</label>
      <input type="text" class="form-control col-md-12" value="{{ prod.descricao }}" name="descricao" id="descricao"
        placeholder="Descrição">

    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputAddress">Valor</label>
        <input type="text" class="form-control col-md-6" value="{{ prod.valor }}" name="valor" id="valor"
          placeholder="Valor">
      </div>

    </div>
    <div class="form-group">
      <label>Upload da Imagem</label>

      <div class="input-group col-sm-3">

        <label for="imagem">Imagem:</label>
        <input type="file" name="imagem_edicao" accept="image/*" id="imagem_edicao">

        <br>
        <img src='{{ prod.imagem }}'>

        <br>

      </div>
    </div>



    <div class="form-group">

    </div>
   
    <button type="submit" class="btn btn-primary mr-2" name="salvaEditaProdutoDB"
      id="salvaEditaProdutoDB">Enviar</button>
    <button class="btn btn-light" name="excluiProdutoDB" id="excluiProdutoDB">Deletar</button>
    
  </form>

  {% endif %}


</div>

{% endblock %}