{% extends "index.html" %}



{% block content %}
    <div id="content-wrapper">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="#">Produtos</a>
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>

        

       

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Data Table Example</div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID_Produto</th>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Imagem</th>
                    
                  </tr>
                </thead>
                <tbody>
                    {% if result %}
                    {% for row in result %}
                  <tr>
                      <td> {{ row[0] }}</td>
                      <td> {{ row[1] }}</td>
                      <td> {{ row[2] }}</td>
                      <td> <img src="{{ row[3] }}"> </td>
                      <td>
                          <form action="{{ url_for('produto.editId') }}" method='post' name='formProdutos'>
                            <input type='hidden' name='id_produtos' value='{{ row[0] }}'>
                            <button type='submit' name='formProdutos'>Editar</button>
                          </form>
                        </td>
                  </tr>
                  
                  {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
          
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © Your Website 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
  {% endblock %}
