{% from "macros/formFields.html" import render_field, render_file_field, render_hidden_field %}

<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin - Login</title>

  <!-- Custom fonts for this template-->
  <link rel="stylesheet" href="{{ url_for('static', filename='public/vendor/fontawesome-free/css/all.min.css') }}">

  <!-- Custom styles for this template-->
  <link rel="stylesheet" href="{{ url_for('static', filename='public/css/sb-admin.css') }}">
  <link rel="shortcut icon" href="{{ url_for ('static',filename='olho.png') }}" />


</head>

<body class="bg-dark">

  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
        <form action="" method="POST" novalidate>
          {{ form.csrf_token }}
          <div class="form-group">
            <div class="form-label-group">
              {{ render_field(form.registry) }}

              <!--flash messages-->

              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}

            </div>
          </div>
          <div class="form-group">
            <div class="form-label-group">
              {{ render_field(form.password) }}

              <!--flash messages-->

              {% with messages = get_flashed_messages() %}
              {% if messages %}
              <ul class=flashes>
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
              </ul>
              {% endif %}
              {% endwith %}

            </div>
          </div>
          <div class="form-group">
            <div class="checkbox">
              <label>
                <input type="checkbox" value="remember-me">
                Remember Password
              </label>
            </div>
          </div>
          <button type="submit" class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" >SIGN IN</button>
        </form>
        {% if request.args.get('falhaSessao') == '5': %}
    <div class=" row">
            <div class="col col-12">
              <div class="alert alert-danger" role="alert">
                Falha de Sessão! Realize seu login!
              </div>
            </div>
      </div>
      {% endif %}
      <div class="text-center">
        <a class="d-block small mt-3" href="register.html">Register an Account</a>
        <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
      </div>
    </div>
  </div>

  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

</body>

</html>